.formadd{
	margin-bottom: 90px;
	}
.panel-heading h3{
		margin:0px;
		font-size:22px;
	}
.to-pay{
    right: 0%;
    float: right;
    color: #18bc9c;   
    font-weight: normal; 
}

.panel-body{
	padding:0px;
}
.head-text{
	margin-top:0px;
}

.panel-body .nav-pills{
	width:100%;
}

.panel-body .nav-pills>li.new.active>a{
    background-color:#3498db;
    border-radius: 0px;
}

.panel-body .nav-pills>li.new.active>a:hover {
    background-color:#3498db;
    border-radius: 0px;
}

.panel-body .nav-pills>li.paid.active>a{
    background-color:#2c3e50;
    border-radius: 0px;
}

.panel-body .nav-pills>li.paid.active>a:hover {
    background-color:#2c3e50;
    border-radius: 0px;
}

.panel-body .nav-pills>li.travel.active>a{
    background-color:#18bc9c;
    border-radius: 0px;
}

.panel-body .nav-pills>li.travel.active>a:hover {
    background-color:#18bc9c;
    border-radius: 0px;
}

.panel-body .nav-pills>li.issued.active>a{
    background-color:#f39c12;
    border-radius: 0px;
}

.panel-body .nav-pills>li.issued.active>a:hover {
    background-color:#f39c12;
    border-radius: 0px;
}

.panel-body .nav-pills>li.notvalid.active>a{
    background-color:#e74c3c;
}

.panel-body .nav-pills>li.notvalid.active>a:hover {
    background-color:#e74c3c;
    border-radius: 0px;
}



.result-table>thead>tr>th{
    text-align: center;
}

.result-table>thead>tr>th>p{
    margin-bottom: 0px;
}

.result-table>tbody>tr>td{
    text-align: center;
}

.result-table>tbody>tr>td>input{ 
  -moz-appearance: textfield;
}
.result-table>tbody>tr>td>input::-webkit-inner-spin-button { 
  display: none;
}

.head_certification{
    margin-top: 0px;
}

.btn-pdf{
    width:100%;
}