.alert{
	width:100%;
}
.alert > h4 {
	font-size:18px;
}
.vertical-center {
 display: -webkit-flex; /* Safari */
flex-direction: column;
 display: flex;
}
.react-bs-table{
	margin-left: 0;
}
.btn-group{
	padding-bottom: 10px;
}
.loginReset{
	font-size:14px;
	text-align: center;
}
.form_login {
   margin:auto;
   width:380px;
}
.form_login .form-horizontal .form-group{
	margin-left:0px;
	margin-right:0px;
}
.row{
	margin:0;
}
.formadd{
	padding-left: 0;
}
.form-controler{
	width:100%;
}