.row{
  margin-left: 0px;
}
.navbar > .container {
  height: 55px;
  width:100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
}
.navbar > .container > .navbar-header{
	padding-left:15px;
}
.navbar > .container > .navbar-header > .navbar-brand{
	height: 25px;
  	padding-bottom: 0px;
}

.navbar > .container > .navbar-collapse > .navbar-right{
    float: right !important;
    margin-right: 0px;
}
