.reports-result{
  padding-bottom: 50px;
}
.reports-result h4{
  font-weight: 900;
  margin-bottom:0px;
}
.reports-result hr{
  margin-top:5px;
  margin-bottom:5px;
}
.reports-table {
    width:100%;
    margin-bottom: 20px;
}
.reports-table th{
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}
.reports-table th>p{
    font-weight: 100;
}
.reports-right td{
    text-align: center;
}
.reports-table td{
    text-align: left;
    border: 1px solid black;
    padding: 5px;
}
.reports-result .summary-head{
    display: inline-block;
    text-align: center;
    font-weight:500;
    
}
.reports-result .signing-up{
    padding-bottom: 50px;
    display: inline-block;
    text-align: center;
    width:400px;
}
.reports-result .summary-head p{
    position:relative;
    top:20px;
    display: block;
    text-decoration:overline;
    font-size: 14px;
    margin-bottom:-30px;
    border-top: solid 1px;
}

.reports-footer h4{
    padding-bottom: 20px;
    display: inline-block;
    width:500px;
    font-weight:900;
}
@media print {
  .repors-fix-footer{
    display: none;
  }
}


.reports-header h1{
    margin-top:0;
}
.reports-header hr{
    margin-top:0;
    margin-left: -15px;
    margin-right: -15px;
}
.reports-btn{
    margin-top:5px;
}
.reports-select{
  display: block;
  width: 100%;
  height: 44px;
  padding: 0 10px;
  margin: 0 0 6px;
  outline: 0;
  border: 1px solid #dadada;
  border-radius: 2px;
  font-size: 1.2rem;    
}
.Main {
  width: 100%;
}

.Title {
  display: block;
  font-size: 2.4rem;
  font-weight: 200;
  padding: 0;
}

.Section {
  border-top: 1px dashed rgba(0, 0, 0, 0.1);
  clear: both;
}

.Section ~ .Section {
  margin-top: 24px;
}

.Demo-description {
  float : left;
  width: 100%;
}

.Demo-description h2 {
  font-weight: 400;
  font-size: 1.4rem;
}

.Demo {
  width: 100%;
}

.Demo-inputs input {
  margin: 0 0 6px;
}

.Mobile-Container {
  height: 100%;
  overflow-y: scroll;
  margin: 0 auto;
}