.tr-function-example{
    background-color: #f0efeb;
}

.label {
  font-size: 16px;
}


.td-function-new{
	color: #3c763d;
    background-color: #dff0d8;
}
.td-function-paid{
	color: #3c763d;
    background-color: #92fc68;
}

.td-function-travel{
	color: #31708f;
    background-color: #d9edf7;
}

.td-function-issued{
	color: #8a6d3b;
    background-color: #fcf8e3;
}
.td-function-notvalid{
	color: #a94442;
    background-color: #f2dede;
}

.int thead tr th {
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}