<html>
  <head>
    <meta charset="utf8">
    <title>Cert PDF</title>
    <style>
      @font-face {
          font-family: "TimesNewRomanRegular";
          src: url("http://localhost:6700/fonts/times.ttf");
          font-style: normal;
          font-weight: normal;
      }
      @font-face {
          font-family: "TimesNewRomanBold";
          src: url("http://localhost:6700/fonts/timesbd.ttf");
          font-style: normal;
          font-weight: bold;
      }      
      html, body {
        margin: 0;
        padding: 0;
        zoom: 0.864;
        font-family: "TimesNewRomanRegular";
      }    
      div{
        border: 1px solid;
        border-color: transparent;
        padding-left: 0.25cm;
        padding-right: 0.25cm;
        padding-top: 0.13cm;
        padding-bottom: 0.13cm;
      }
      .page {
        border: 0px solid white;
        position: relative;
        height: 148mm;
        width: 210mm;
        display: block;
        background: white;
        page-break-after: auto;
        margin: 0px;
        overflow: hidden;
        padding: 0px;
      }      
      @media print {
        body {
          background: white;
        }
        .page {
          margin: 0;
          height: 100%;
          width: 100%;
        }
      }      
      .certInfo {
        font-size: 13px;
        position: absolute;
        font-style: regular;
        top: 11.90cm;
        left: 1.55cm;
        width: 7.6cm;
        letter-spacing:0px;
      }
      .certDate {
        text-align: center;
        font-size: 10pt;
        position: absolute;
        top: 11.91cm;
        left: 6.88cm;
        width: 2.27cm;
        letter-spacing:0px;
      }
      .region {        
        letter-spacing:0.05pt;
        font-size: 13px;
        font-style: regular;
        position: absolute;
        top: 9.90cm;
        left: 1.72cm;
        text-align: center;
        height: 0.4cm;
        width: 7.43cm;
      }
      .person {
        font-family: "TimesNewRomanBold";
        text-transform: uppercase;
        font-weight: 900;
        font-size: 11.2pt;
        letter-spacing:0.17px;
        line-height: 14.1pt;
        position: absolute;
        top: 3.05cm;
        left: 10.95cm;
        text-align: center;
        width: 8.24cm;
      }
      .issuedBy{
        font-size: 9.3pt;
        letter-spacing:0.15px;
        line-height: 11pt;
        position: absolute;
        top: 9.48cm;
        left: 10.80cm;
        text-align: center;
        width: 8.47cm;
      }      
      .director{
        font-size: 10.1pt;
        position: absolute;
        top: 11.59cm;
        left: 10.79cm;
        width: 8.55cm;
      }
      .director>.head{
          text-align: right;
          padding:0px;
        }
      .director>.position{
          margin-top: -2px;
          text-align: left;
          padding: 0px;
        }
    </style>
  </head>
  <body>
  <div class="page">
    <div class="region">
      Республика Башкортостан
    </div>  
    <div class="certInfo">
      {{id}}<br>
      Срок действия до {{period}} г.
    </div>
    <div class="certDate">
      {{date_of_issue}} г.
    </div>
     <div class="person">
      {{name_ru}}<br>
      {{name_en}}
    </div>

    <div class="issuedBy">
      {{issuedBy}}
    </div>    
    <div class="director">
      <div class="head">{{head}}</div>
      <div class="position">{{position}}</div>
    </div>
    </div>
  </body>
</html>